<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="img/icons8-rock-and-roll-hand-32.png" rel="shortcut icon">
  <meta name="description" content="Multi player game to demonstrate MVC proof-of-concept.">
  <title>Battle Heroes</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Ubuntu" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/fece22d596.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

  {{#if use_fullwidth}}
    <link rel="stylesheet" href="/styles/styles.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/styles/max_width.css" media="screen" charset="utf-8">
  {{else}}
    <link rel="stylesheet" href="/styles/min_width.css" media="screen" charset="utf-8">
  {{/if}}
</head>

<body>
  <!-- Header -->
  <header id="main-header">
    <div class="container-fluid clearfix">
      <!-- Main Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-nav">
        <div class="navbar-brand mb-0 h1">Battle Heroes</div>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            {{#if logged_in}}
            <li class="nav-item" id="logged_user" data-user_id="{{logged_user_id}}"
              data-user_email="{{logged_user_email}}" data-user_groups="{{logged_user_groups}}">
              <a class="nav-link" href="/logout"><i class="fas fa-user-slash" title="Logout"></i></a>
            </li>
            {{else}}
            <li class="nav-item" id="logged_user" data-user_id="0" data-user_email="0" data-user_groups="0">
              <a class="nav-link" href="/register"><i class="fas fa-user" title="Register"></i></a>
            </li>
            {{/if}}
          </ul><!-- .navbar-nav -->
        </div><!-- .navbar-collapse -->

      </nav><!-- #main-nav -->
    </div><!-- .container-fluid -->
  </header><!-- #main-header -->

  <!-- Main Container -->
  <article class="content-wrapper" id="main-container">
    <section class="section-block jumbotron" id="main-section">
      <div class="container">
        {{{body}}}
      </div>
    </section>
  </article>

  <!-- Footer -->
  <footer id="main-footer">
    <!-- Footer Nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="footer-nav">
      <div class="navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/choose-hero">
              <i class="fas fa-dragon fa-2x"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/challenge">
              <i class="fas fa-hat-wizard fa-2x"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/play">
              <i class="fas fa-gamepad fa-2x"></i>
            </a>
          </li>
        </ul>
      </div><!-- .container -->
    </nav><!-- #footer-nav -->

    <!-- Footer Credits -->
    <div id="footer-bottom">
      <div id="footer-info">Copyright © 2019 | <a class="footer-link" href=".">BattleHeroes.io</a> |
        <a class="footer-link" href="https://github.com/TylerWebb92/group-project-2">Coding Bootcamp</a>
      </div>
    </div><!-- #footer-bottom -->
  </footer><!-- #main-footer -->

</body>

</html>