<div id="choose-hero">
  <div class="container">
    <div class="row first-row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
      </div>
    </div>

    <div class="row" id="select-character">

      {{#each all_heroes}}
       <div class="hero card text-center col-3 mx-auto" id="{{id}}" data-index="0" data-hp="{{health}}">
        <div class="card-body">
          <h6 class="card-title">{{name}}</h6><img class="card-img" alt="{{name}}" src="{{image_uris}}">
          <p class="card-text">{{description}}</p>
          <p class="card-text font-weight-bold"><span class="attack_power"></span>HP: <span class="health_points">{{health}}</span></p>
        </div><!-- .card-body -->
      </div>
      {{/each}}

    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>