<div
  class="flex flex-col max-w-xs lg:mx-auto rounded overflow-hidden shadow-lg m-1 items-center justify-between bg-gray-500 pt-4">
  {{#ifObject image_url}}
    {{#withItem image_url key='idle' }} 
      <img class="w-1/2" src="{{this}}" alt="placeholder">
    {{/withItem}}
  {{else}}
    <img class="w-1/2"src="{{image_url}}" alt="placeholder">
  {{/ifObject}}
  
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2"> <u>{{class}}</u> </div>
    <p class="text-grey-darker text-base mb-2">
      {{description}}
      <ul class="font-bold">
        <li>Health: {{health}}</li>
        <li>Attack: {{attack}}</li>
        <li>Defense: {{defense}}</li>
      </ul>
    </p>
  </div>

  <div class="m-2">
    <button class="bg-teal-800 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded choose-btn" data-id="{{id}}" data-class="{{class}}" data-health="{{health}}" data-attack="{{attack}}" data-experience="{{experience}}" data-enabled="{{enabled}}">
      Choose This Hero
    </button>
  </div>

</div>